body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

/* header CSS below */

header {
  padding: 20px 35px;
  background-color: #333;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #eee;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #eee;
}

header nav {
  margin: 7px;
}

header nav ul {
  display: inline;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/* applications CSS with flex */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


#topBar {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.leftColumn {
  width: 20%;
  border-right: solid #333 3px;
  text-align: right;
  padding-right: 10px;
  height: 205px;
  padding-bottom: 20px;
}


.rightColumn {
  display: flex;
  flex-direction: column;
  width: 67%;
  padding-left: 10px;
  height: 205px;
}

#multiColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 67%;
  padding-left: 10px;
  height: 200px;
}

#multiColumn,
#whoAmI {
  border-bottom: solid #333 3px;
  padding-bottom: 20px;
}


.rightColumnA {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}

.rightColumnB {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}

#resumeLink {
  display: inline;
}

#firstApp {
  background-image: url(./assets/runbuddy.jpg);
  height: 170px;
}

#glad {
  background-image: url(./assets/vsmglad.jpg);
  height: 170px;
  width: 460px;
  border: solid 3px red;
  flex-grow: 0;
}

#passwordGen {
  background-image: url(./assets/password2.jpg);
  height: 170px;
  width: 460px;
  border: solid 3px red;
  flex-grow: 0;
}

/* @media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  } */